.darkgreen {
    background: darkgreen;
    color: white;
}

main {
    width: 200px;
    height: 200px;
    background-color: orange;
}

main > div > .apple {
    background-color: blue;
    height: 20px;
    width: 20px;
    display: block;
}


